{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}
{% block stylesheets %}
    <style>
                *{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                }
                body{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 100vh;
                    background: #5eb5e0;
                }

    </style>
{% endblock %}


{% block body %}



    <ul>
        <li>
            {{ sumadenumeros }} <br>
        </li>
        <li style ="--clr:#00ade1;">
            <a href="/" data-text="&nbsp;Inicio">&nbsp;Volver al inicio&nbsp;</a>
        </li>
    </ul>

{% endblock %}
