{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

    <h1>HOLA {{ name }}</h1> <!--Esta es la variable retornada en el controler-->
    <img src="/public/imagenes/z3wdizpl92g81.jpg"/>

{% endblock %}
