{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}
{% block stylesheets %}
    <style>
                *{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                }
                body{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 100vh;
                    background: #252839;
                }

    </style>
{% endblock %}


{% block body %}

    <h1>El numero aleatorio es: {{ number }}</h1>

    <ul>
        <li style ="--clr:#00ade1;">
            <a href="/hello" data-text="&nbsp;Inicio">&nbsp;Volver al inicio&nbsp;</a>
        </li>
    </ul>

{% endblock %}
